.nav
{
    display: none;
}

.header
{
    border-bottom: none;
}

.content
{
    padding : 0;
}

aside
{
    display: none;
}

body { /* Modifications : la couleur de fond de page - la police - l'unité utilisée pour la taille de la police  */
    background-color :#fff;
    font-family :Serif;
    font-size :15pt;
}

h1
{
    font-size: 20pt;
}
#rss
{
  width: 100%;
}

.footer
{
    display: none;
}

