body
{
  background-image: url('../img/background/default.png');
}

.container
{
  margin-top: 40px;
}

/**HEADER**/
.header
{
  margin: 0px;
  padding: 0px;
  border-bottom: 4px solid #ef705b;
  background-image: url('../img/background/dark.png');
}

.header h1
{
  font-size: 1em;
  font-weight: normal;
  padding-left: 10px;
}

.header h1 a
{
  color: #FFFFFF;
  text-decoration: none;

}


.nav
{
  display: inline-block;
  width: 740px;
  text-align: center;
}

.nav ul
{
  list-style-type: none;
}

.nav li
{
  display: inline-block;
  margin-right: 15px;
}

.nav a
{
  font-size: 1em;
  color: #FFFFFF;
  text-decoration: none;
}

.nav a:hover
{
  color: #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
}

#titre_principal
{
  display: inline-block;
}


/*******/
.inscription
{
  background-color: #2ecc71;
  border: solid;
}


/******/
.pathologie
{
  list-style-type: none;
}

.pathologie li
{
  padding-top: 10px;
  width: 50%;
  background-color: #006699;
}

.pathologie td
{
  padding-top: 10px;
  width: 50%;
  background-color: #006699;
  border-radius: 6px 6px 0 0;
  border-bottom-left-radius: 6px 6px ;
  border-bottom-right-radius: 6px 6px ;
}

.formulaire
{
  list-style-type: none;
  background-image: url('../img/background/actions.png');
}

.formulaire input[type=text] input[type=mail]
{
  width: 250px;
}

.formulaire label {
  width: 110px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
}