/**HEADER**/
.header
{
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  margin: -15px 0px;
  border-bottom: 4px solid #ef705b;
  background-image: url('../img/background/dark.png');
}

#titre_principal
{
  display: none;
}

.header h1
{
  font-size: 1em;
  font-weight: normal;
  padding-left: 10px;
  display: none;
}

.header h1 a
{
  color: #FFFFFF;
  text-decoration: none;

}

/**Navigation**/
.nav
{
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 130%;
}

.nav ul
{
  list-style-type: none;
}

.nav li
{
  display: inline-block;
  margin-right: 15px;
}

.nav a
{
  font-size: 1em;
  color: #FFFFFF;
  text-decoration: none;
}

.nav a:hover
{
  color: #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
}

/**Contenu**/
body
{
  background-image: url('../img/background/default.png');
  margin : 0px;
}

aside
{
  display: block;
  float: right;
  min-width: 20%;
  width: 20%;
  padding: 5px 5px 5px 5px;
}
#rss
{
  display: block;
  float: left;
  min-width: 70%;
  width: 70%;
}

#rss h1
{
  border-bottom: double 1px;
  border-color: #ef705b;
  color: #595855;
  font-size:120%;
}

#titre_principal
{
  display: inline-block;
}

.content
{
  padding: 80px 2% 50px 2%;
}

.alert
{
  color : #ff0000;
}

.success
{
  color : #00ba10;
}

.container
{
  margin-top: 40px;
}

table
{
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
td
{
  border : 1px solid #c2c2c2;
}

th
{
  background-color: #e9e9e9;
  border : 1px solid #c2c2c2;
}

caption
{
  color: #595855;
  font-size:120%;
}

.inscription
{
  background-color: #2ecc71;
  border: solid;
}

#pathoForm
{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#pathoForm fieldset
{
  margin-top: 10px;
  margin-bottom: 10px;
  border : solid 1px #ef705b;
}

#pathoForm legend
{
  color: #595855;
}


#inscription {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.formulaire
{
  list-style-type: none;
}
.formulaire li
{
  margin-bottom: 5px;
}

.formulaire label
{
  width: 110px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
}


.checkbox_meridien
{
  clear:both
}


.col label, .col input
{
  display:inline-block;
}
.col label{
  width:150px;/*adjust your width */
}
.col input{
  width:20px;/*adjust your width */
}

.checkboxItem
{
  display: inline-block;
}

label {
  display: inline-block;
}

.checkbox_types_patho{
  clear:both
}

.checkbox_caracteristique
{
  clear:both
}

.section h1
{
  border-bottom: double 1px;
  border-color: #ef705b;
  color: #595855;
  font-size:150%;
  /*background-color: #41403e;
  border: solid;
  border-color: #42b175;*/
}

.section h2
{
  /*border-bottom: double 1px;
  border-color: #2cef14;*/
  font-size:120%;
  color: #595855;
  /*background-color: #41403e;
  border: solid;
  border-color: #42b175;*/
}

/****** FOOTER *******/
.footer
{
  clear: both;
  display: block;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-image: url('../img/background/dark.png');
  color : #FFFFFF;
  border-top: 4px solid #ef705b;
  margin: 0px;
}

.copyright{

  display: block;
  text-align:center;

}


@media screen and (max-width: 640px) {


  .footer
  {
    display: none;
  }




  aside
  {
    display: block;
    float: none;
  }
  #rss
  {
    display: block;
    float: none;
  }
}