body
{
  background-image: url('../img/background/default.png');
}

.content
{
  padding-top: 40px;
}

.alert
{
  color : #ff0000;
}

.success
{
  color : #00ba10;
}

.container
{
  margin-top: 40px;
}

/**HEADER**/
.header
{
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  margin: -8px -8px;
  padding: 0;
  border-bottom: 4px solid #ef705b;
  background-image: url('../img/background/dark.png');
}

.header h1
{
  font-size: 1em;
  font-weight: normal;
  padding-left: 10px;
}

.header h1 a
{
  color: #FFFFFF;
  text-decoration: none;

}


.nav
{
  display: inline-block;
  width: 740px;
  text-align: center;
}

.nav ul
{
  list-style-type: none;
}

.nav li
{
  display: inline-block;
  margin-right: 15px;
}

.nav a
{
  font-size: 1em;
  color: #FFFFFF;
  text-decoration: none;
}

.nav a:hover
{
  color: #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
}
/*
.footer
{
  display: block;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-image: url('../img/background/dark.png');
  color : #FFFFFF;
  border-top: 4px solid #ef705b;
  margin: 0 0 0 -8px;
}*/


#titre_principal
{
  display: inline-block;
}


/*******/
.inscription
{
  background-color: #2ecc71;
  border: solid;
}


/******/
.pathologie
{
  list-style-type: none;
}

.pathologie li
{
  padding-top: 10px;
  width: 50%;
  background-color: #006699;
}

.pathologie td
{
  padding-top: 10px;
  width: 50%;
  background-color: #006699;
  border-radius: 6px 6px 0 0;
  border-bottom-left-radius: 6px 6px ;
  border-bottom-right-radius: 6px 6px ;
}

.formulaire
{
  list-style-type: none;
}

.formulaire input[type=text] input[type=mail]
{
  width: 250px;
}

.formulaire label {
  width: 110px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
}


.checkbox_meridien{
  background-color: #6c6c70;
  border: solid;
  border-color: #ef705b;
  clear:both
}

.col{
  /*float:left;
  /*width:120px;/*adjust your width */
}
.col label, .col input
{
  display:inline-block;
}
.col label{
  width:150px;/*adjust your width */
}
.col input{
  width:20px;/*adjust your width */
}


.checkbox_types_patho{
  background-color: #ffffff;
  border: solid;
  border-color: #aeb1ab;
  clear:both
}

.checkbox_caracteristique
{
background-color: #6c6c70;
border: solid;
border-color: #ef705b;
clear:both
}



/****** FOOTER *******/

.copyright{

  display: block;
  text-align:center;

}